source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
  
nuget Chiron
nuget FAKE < 5.0.0
nuget Freya >= 4.0.0
nuget FSharp.Formatting
nuget Microsoft.AspNetCore.Owin
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Nancy >= 2.0.0
nuget RethinkDb.Driver